.container-city {
  color: $whitecolor;
}

.city-pic{
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 2px 12px rgba(0 0 0 / 20%);
}

.beer-pic-image{
  // width: 400px;
  max-height: 850px;
  // box-shadow: 0px 2px 12px rgba(0 0 0 / 20%);
  border-radius: 10px;
  object-position: 50% 50%;
}
.city-info{
  display: flex;
  justify-content: center;
  position: relative;
    top: 56px;
  .city-bio {
    p{
      max-width: 40vw;
      font-size: 30px;
    }
  }
}

.beers-side {
  margin: 80px auto 0;
  align-items: center;
  p{
    max-width: 40vw;
  }
  .beer-info{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      font-size: 30px;
    }
    h2{
      text-align: left;
    }
  }
}

a {
  text-decoration: none;
}

.review-link {
  color: white;
  margin-top: 500px;
  padding: 5px 8px 5px 8px;
  display: inline-block;
  border-radius: 6px;
  background-color: rgba(193, 129, 11, 0.6);
  border: 1px solid rgba(193, 129, 11);
  transition: 0.4s ease-in-out;
  border-radius: 50px;
  &:hover {
    transform: scale(1.05);
    background-color: rgba(193, 129, 11, 0);
  }
}

.list-link {
  color: white;
  margin-top: 500px;
  padding: 5px 8px 5px 8px;
  display: inline-block;
  border-radius: 6px;
  background-color: rgba(193, 129, 11, 0.6);
  border: 1px solid rgba(193, 129, 11);
  transition: 0.4s ease-in-out;
  border-radius: 50px;
  &:hover {
    transform: scale(1.05);
    background-color: rgba(193, 129, 11, 0);
  }
}

.test {
  color: black;
}