.container-city {
  color: $whitecolor;
}

.city-pic{
  width: 500px;
  border-radius: 50px;
  box-shadow: 0px 2px 12px rgba(0 0 0 / 20%);
}

.beer-pic-image{
  // width: 400px;
  min-height: 850px;
  max-height: 850px;
  min-height: 850px;
  // box-shadow: 0px 2px 12px rgba(0 0 0 / 20%);
  border-radius: 10px;
  object-position: 50% 50%;
}
.city-info{
  display: flex;
  // justify-content: center;
  position: relative;
    top: 56px;
    justify-content: space-around;
    max-width: 80vw;
    margin: 0 auto;
  .city-bio {
    p{
      max-width: 40vw;
      font-size: 30px;
    }
  }
}

.beers-side {
  margin: 130px auto 0;
  padding-bottom: 50px;
  p{
    max-width: 40vw;
  }
  .beer-info{
    margin-left: 25px;
    p{
      font-size: 30px;
    }
    h2{
      text-align: left;
    }
    h3{
      font-size: 35px;
      margin-top: 50px;
    }
    ul{
      font-size: 20px;
      margin-top: 15px;
      list-style: none;
      padding-left: 0;
    }
  }
}

a {
  text-decoration: none;
}

.review-link {
  color: white;
  margin-top: 50px;
  padding: 5px 8px 5px 8px;
  display: inline-block;
  border-radius: 6px;
  background-color: rgba(193, 129, 11, 0.6);
  border: 1px solid rgba(193, 129, 11);
  transition: 0.4s ease-in-out;
  border-radius: 50px;
  &:hover {
    transform: scale(1.05);
    background-color: rgba(193, 129, 11, 0);
  }
}

.list-link {
  color: white;
  position: relative;
  top: 30px;
  left: 20px;
  padding: 5px 8px 5px 8px;
  display: inline-block;
  border-radius: 6px;
  background-color: rgba(193, 129, 11, 0.6);
  border: 1px solid rgba(193, 129, 11);
  transition: 0.4s ease-in-out;
  border-radius: 50px;
  &:hover {
    transform: scale(1.05);
    background-color: rgba(193, 129, 11, 0);
  }
}

.test {
  color: black;
}

.review{
  margin: 0 auto 0 130px;
  .review-post{
    background-color: rgba(193, 129, 11, 0.6);
    border-radius: 10px;
    max-width: 322.56px;
    position: relative;
    bottom: 10px;
    margin: 10px;
  }
  h2{
    text-align: left;
    margin-bottom: 0;
  }
  p{
    margin: 0 auto;
    padding: 7px;
  }
  .text-post{
    max-width: 320px;
    word-break: break-all;
  }
  .fa-trash-alt {
    margin: 0 0 7px 7px;
    &:hover{
      animation: shake 1s infinite;
      cursor: pointer;
    }
  }
}

.delete-button {
  width: fit-content;
  background-color:rgba(193, 129, 11, 0) ;
  margin: 7px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

